
{% extends 'home.html' %}

{% block content %}
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

    
    <div class="section-title">
        <h2>Clientes</h2>
      </div>

    <div class="row">
        
        <div class="col-md-12">
          <a href="{{ url_for('addCliente') }}" title="Registrar nuevo Equipo"
            class="btn btn-primary btn-lg btn-block btn-sm mb-2" style="float:right">
            <i class="bi bi-person-fill"></i>
            Nuevo Cliente
          </a>
        </div>
    
      </div>

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in miData %}
                <tr id="Registro_{{ cliente.id_cliente }}">
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ cliente.Nombre_cliente}}</td>
                    <td>{{ cliente.Descripcion }}</td>
                    <td width="300">
                        <span style="display: flex; justify-content:space-between;">
                            <a href="{{ url_for('formViewUpdateCliente', id = cliente.id_cliente ) }}" class="btn btn-info btn-sm"
                                tooltip="Actualizar Registro">
                                <i class="bi bi-arrow-clockwise"></i>
                                Actualizar
                            </a>
                            <a href="{{ url_for('formViewBorrarCliente', id = cliente.id_cliente ) }}" class="btn btn-danger btn-sm"
                                tooltip="Eliminar Registro">
                                <i class="bi bi-trash3"></i>
                                Eliminar
                            </a>
                        </span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
</section>
{% endblock %}

   