{% extends 'home.html' %}

{% block content %}

<section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Nosotros</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <h1>Misión</h1>
            <p> 
              Ser una consultora con presencia en muchas empresas, con los mejores consultores  y la mejor tecnología para aumentar la rentabilidad de nuestros clientes.
            </p>

            <h1>Objetivos de la empresa</h1>
            <ul>
              <li><i class="ri-check-double-line"></i> Brindar soluciones con rapidez </li>
              <li><i class="ri-check-double-line"></i> Soluciones a la medida de cada cliente</li>
              <li><i class="ri-check-double-line"></i> Desarrollo con la mejor tecnología del momento</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h1>Visión</h1>
            <p> 
              Ser una consultora reconocida a nivel nacional capaz de brindar soluciones a diferentes empresas con la mejor y más avanzada tecnología 
            </p>
            
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->
{% endblock %}

   