<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>SAYA</h3>
            <p>
              C.5 12 <br>
              Col Del Gas<br>
              Azcapotzalco,02950,Ciudad de Mexico, CDMX <br><br>
              <strong>Telefono:</strong>+52 56 4207 64 94<br>
              <strong>Email:</strong> info@saya.net<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('admin.inicio') }}">Inicio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('admin.nosotros') }}">Nosotros</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('admin.contacto') }}">Contacto</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('admin.clientes') }}">Clientes</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('admin.equipo') }}">Teams</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('admin.usuario') }}">Usuarios</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('admin.proyectos') }}">Proyectos</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nuestros Servicios</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Diseños Web</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Desarrollos Web</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Paginas Informativas</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Objetivos</h4>
            <p>Brindar con rapidez y calidad soluciones a la medida de cada cliente,  con la mejor tecnología del momento. </p>
          </div>

        </div>
      </div>
    </div>





    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Arsha</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->