{% extends 'home.html' %}

{% block content %}
<section>
    <h2>
        <a href="{{ url_for('admin.usuario') }}" class="left" title="Volver"><i class="bi bi-arrow-left-circle"></i></a>
        Registrar Nuevo Usuario
        <hr>
    </h2>

    <form action="{{ url_for('formAddUser') }}" method="POST" class="mb-3" autocomplete="off" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="row">
            <div class="row">
                <div class="col">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control" required>
                </div>
                <div class="col">
                    <label for="password">Contraseña</label>
                    <input type="text" name="password"  class="form-control" required>
                </div>
                
            </div>
            <div class="row">
                <div class="col">
                    <label for="Nombre">Nombre</label>
                    <input type="text" name="Nombre"  class="form-control" required>
                </div>
                <div class="col">
                    <label for="Ape_pat">Apellido Paterno</label>
                    <input type="text" name="Ape_pat" class="form-control" required>
                </div>
                <div class="col">
                    <label for="Ape_mat">Apellido Materno</label>
                    <input type="text" name="Ape_mat"  class="form-control" required>
                </div>
                <div class="col">
                    <label for="Edad">Edad</label>
                    <input type="text" name="Edad"  class="form-control" required>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="GdoEstudios">Grado de Estudios</label>
                    <input type="text" name="GdoEstudios" class="form-control" required>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="Direccion">Direccion</label>
                    <input type="text" name="Direccion" class="form-control" required>
                </div>
                <div class="col">
                    <label for="Municipio">Municipio</label>
                    <input type="text" name="Municipio"  class="form-control" required>
                </div>
                <div class="col">
                    <label for="Estado">Estado</label>
                    <input type="text" name="Estado"  class="form-control" required>
                </div>
                <div class="col">
                    <label for="Telefono">Telefono</label>
                    <input type="text" name="Telefono"  class="form-control" required>
                </div>
                <div class="col">
                    <label for="Telefono">Equipo</label>
                    <select name = "id_team" class="form-control">
                        <option value="1" >Warriors</option>
                        <option value="2" >Golden</option>
                      </select>
                </div>
            </div>
        </div>
        <hr>

        <input class="button-primary mt-3 btn btn-info btn-block bold" type="submit" value="Guardar Registro">
    </form>
</section>
    {% endblock %}
